[submodule "hes-engine/assets/biome_lookup/src/plotbiomes"]
    path = hes-engine/assets/biome_lookup/src/plotbiomes
	url = https://github.com/valentinitnelav/plotbiomes.git
[submodule "hector-rs"]
	path = hector-rs
	url = https://github.com/frnsys/hector-rs
