[submodule "hector/wasm"]
	path = hector/wasm
	url = https://github.com/frnsys/hector-wasm.git
[submodule "assets/src/biomes/plotbiomes"]
	path = assets/src/biome_lookup/src/plotbiomes
	url = https://github.com/valentinitnelav/plotbiomes.git
