*.db
target
node_modules
dist
.env
**/build/
!hes-game/public/js/dist
!build/
build/site
build/package.json
build/build/icon.png

out/
design/data/src
assets/content/images/*
assets/src/images
assets/src/audio
assets/fonts/Synt
