@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@font-face {
  font-family: 'Times Ten';
  src: url('/assets/fonts/TimesTen/TimesTen.woff2') format('woff2'),
      url('/assets/fonts/TimesTen/TimesTen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Times Ten';
  src: url('/assets/fonts/TimesTen/TimesTen-BoldItalic.woff2') format('woff2'),
      url('/assets/fonts/TimesTen/TimesTen-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Times Ten';
  src: url('/assets/fonts/TimesTen/TimesTen-Bold.woff2') format('woff2'),
      url('/assets/fonts/TimesTen/TimesTen-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Times Ten';
  src: url('/assets/fonts/TimesTen/TimesTen-Italic.woff2') format('woff2'),
      url('/assets/fonts/TimesTen/TimesTen-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'W95FA';
  src: url('/assets/fonts/W95FA/w95fa.woff2') format('woff2'),
      url('/assets/fonts/W95FA/w95fa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: contain;
  font-family: 'Times Ten', monospace;
  user-select: none;
  font-size: 16px;
}

/* TODO temporary mobile constraint */
body {
  background: #000;
}
main {
  max-width: 320px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

button {
  padding: 0.5em 1em;
  border: 1px solid #000;
  cursor: pointer;
  background: #B9B9B9;
  border-top: 2px solid #F1F1F1;
  border-left: 2px solid #F1F1F1;
  border-right: 2px solid #5D5D5D;
  border-bottom: 2px solid #5D5D5D;
  border-radius: 3px;
}
button:hover {
  background: #D3D3D3;
}
button:disabled {
  opacity: 0.5;
  border: 1px solid #aaa;
  pointer-events: none;
}
.actions {
  text-align: center;
  margin: 1em 0;
}
.actions button {
  margin: 0 1em;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
figure {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.good {
  color: #43CC70;
}
.bad {
  color: #FF4040;
}

.space-even {
  display: flex;
  justify-content: space-evenly;
}

.minibar {
  height: 6px;
  width: 80px;
  background: #111;
  border-radius: 0.2em;
  overflow: hidden;
}
.minibar-fill {
  height: 100%;
  background: #43cc70;
}
.minibar-label {
  font-size: 0.75em;
}


::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
