@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@font-face {
  font-family: 'Times Ten';
  src: url('/public/assets/fonts/TimesTen/TimesTen.woff2') format('woff2'),
      url('/public/assets/fonts/TimesTen/TimesTen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Times Ten';
  src: url('/public/assets/fonts/TimesTen/TimesTen-BoldItalic.woff2') format('woff2'),
      url('/public/assets/fonts/TimesTen/TimesTen-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Times Ten';
  src: url('/public/assets/fonts/TimesTen/TimesTen-Bold.woff2') format('woff2'),
      url('/public/assets/fonts/TimesTen/TimesTen-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Times Ten';
  src: url('/public/assets/fonts/TimesTen/TimesTen-Italic.woff2') format('woff2'),
      url('/public/assets/fonts/TimesTen/TimesTen-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'W95FA';
  src: url('/public/assets/fonts/W95FA/w95fa.woff2') format('woff2'),
      url('/public/assets/fonts/W95FA/w95fa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --colour-pink: #B9F80D;
}

* {
  box-sizing: border-box;
}

html{
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: contain;
  overscroll-behavior-x: none;
  font-family: 'Times Ten', monospace;
  user-select: none;
  font-size: 16px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #000;
  touch-action: none;
}
main {
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 320px;
}

button {
  padding: 0.5em 1em;
  border: 1px solid #000;
  cursor: pointer;
  background: #B9B9B9;
  border-top: 2px solid #F1F1F1;
  border-left: 2px solid #F1F1F1;
  border-right: 2px solid #5D5D5D;
  border-bottom: 2px solid #5D5D5D;
  border-radius: 3px;
}
button:hover {
  background: #D3D3D3;
}
button:disabled {
  opacity: 0.5;
  border: 1px solid #aaa;
  pointer-events: none;
}

button:active{
  border-left: 2px solid rgba(0,0,0,0.5);
  border-top: 2px solid rgba(0,0,0,0.5);
  border-right: 2px solid rgba(255,255,255,0.5);
  border-bottom: 2px solid rgba(255,255,255,0.5);
  background-color: #b6b6b6;
}

.btn{
  color: #000;
  background: #fff;
  border-radius: 0.5em;
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
  width: fit-content;
  margin: 0 auto 0.5em;
  padding: 0.5em 0.75em;
  cursor: pointer;
  display: flex;
  align-items: center;

  border-left: 2px solid rgba(255,255,255,0.5);
  border-top: 2px solid rgba(255,255,255,0.5);
  border-right: 2px solid rgba(0,0,0,0.5);
  border-bottom: 2px solid rgba(0,0,0,0.5);

}

.btn:hover{
  background-color: #D3D3D3;
}

.btn:active{
  border-left: 2px solid rgba(0,0,0,0.5);
  border-top: 2px solid rgba(0,0,0,0.5);
  border-right: 2px solid rgba(255,255,255,0.5);
  border-bottom: 2px solid rgba(255,255,255,0.5);
  background-color: #b6b6b6;
}

.btn.disabled {
  filter: grayscale(1);
  pointer-events: none;
  opacity: 0.5;
}
.btn.highlight {
  animation-duration: 0.75s;
  animation-name: highlight;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.actions {
  text-align: center;
  margin: 1em 0;
}
.actions button {
  margin: 0 1em;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
figure {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

strong{
  font-weight: 600;
}

.recess{
  box-shadow: inset 1px 1px 0px rgb(0 0 0 / 50%);
  border-right: 1px solid rgba(255,255,255,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
.outset{
  box-shadow: inset -1px -1px 0px rgb(0 0 0 / 50%);
  border-left: 1px solid rgba(255,255,255,0.5);
  border-top: 1px solid rgba(255,255,255,0.5);
}

.good {
  color: #43CC70;
}
.bad {
  color: #FF4040;
}

.space-even {
  display: flex;
  justify-content: space-evenly;
}

.minibar {
  height: 6px;
  width: 80px;
  background: #111;
  border-radius: 0.2em;
  overflow: hidden;
}
.minibar-fill {
  height: 100%;
  background: #43cc70;
}
.minibar-label {
  font-size: 0.75em;
}


::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0);
  border-radius: 20px;
  border: transparent;
}

.pip-icon{
  image-rendering: auto;
}

/* Scanner */
.pips {
  position: relative;
}
.pips .scan-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: -1;
  background: var(--colour-pink);
  box-shadow: 0px 0px 7px var(--colour-pink);
}
.card-scan-target {
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  background: rgba(0,0,0,0.7);
  height: 68px;
  z-index: -1;
  box-shadow: 0 0 6px var(--colour-pink), inset 1px -2px 6px var(--colour-pink);
  border-radius: 4px;
  width: calc(100% - 1em);
  max-width: 360px;
  margin: 0 auto;
  opacity: 0.1;
}
.card-scan-target.scanning {
  animation-duration: 1s;
  animation-name: scanning;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.scan-error {
  background: red !important;
  box-shadow: 0px 0px 7px red !important;
}
.no-scan .mini-scanbar {
  box-shadow: 0px 0px 7px red !important;
}

@keyframes scanning {
  from {
    box-shadow: 0 0 2px #6bff66, inset 1px 0px 8px #6bff66;
  }

  to {
    box-shadow: 0 0 24px #6bff66, inset 1px 0px 8px #6bff66;
  }
}


.mini-scanbar {
  height: 60px;
  width: 310px;
  position: absolute;
  top: 0;
}
.scanbar-base{
  height: 250%;
  width: 100%;
  border-radius: 0 0 0.5em 0.5em;
  position: absolute;
  bottom: 0;
  background: #eee;
  border-right: 2px solid rgba(0,0,0,0.6);
  border-bottom: 2px solid rgba(0,0,0,0.6);
  border-left: 2px solid #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
  z-index: 1;
}
.mini-scanbar .card-scan-target {
  left: 0;
  right: 0;
  position: relative;
  z-index: -1;
}

.minicard--expanded .mini-scanbar {
  margin: 0 0 0 -13px;
}
.minicard--expanded .scanbar-wrapper {
  top: -50px;
}
.minicard--expanded .draggable {
  z-index: 0;
  margin-top: 3em;
}

.scanbar-led {
  height: 10px;
  width: 10px;
  border-radius: 100em;
  position: absolute;
  bottom: 1em;
  z-index: 1;
}
.scanbar-led-ok {
  right: 1em;
  background: #789782;
  border: 1px solid #3f704f;
}
.scan-ok .scanbar-led-ok {
  background: #5dee8d;
  border: 1px solid #c0fad3;
  box-shadow: 0 0 8px #31f471;
}
.scanbar-led-bad {
  right: 2.25em;
  background: #944d50;
  border: 1px solid #794343;
}
.scan-fail .scanbar-led-bad {
  background: #EB3941;
  border: 1px solid #f4c6c6;
  box-shadow: 0 0 8px #EB3941;
}

.scanbar-wrapper{
  width: 100%;
  position: absolute;
  height:60px;
  top: -20px;
  z-index: 1;
  transition: transform 0.15s;
  visibility: hidden;
}
.mini-scanbar {
  height: 60px;
  position: relative;
  /* top: 0; */
  margin:0 auto;
}
.scan-progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: rgba(150,255,100,0.9);
  border-radius: 0 0.2em 0.2em 0;
  z-index: 1;
}
.scanbar-wrapper.scanning .scan-progress-bar {
  animation-duration: 0.35s;
  animation-name: scanning;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.card-withdraw-target {
  position: absolute;
  height: 60px;
  bottom: -60px;
  background: #eee;
  border-radius: 0.5em 0.5em 0 0;
  width: 310px;
  left: calc(50% - 310px/2);
  border-left: 3px solid #fff;
  box-shadow: 0 1px 4px rgb(0 0 0 / 60%), 0 0 8px #5f09f2;
  border-top: 2px solid #fff;
  border-right: 2px solid #666;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.3em;
  overflow: hidden;
  transition: transform 0.15s;
  visibility: hidden;
}
.withdraw-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 0;
  background: #f8bfb5;
  border-radius: 0 0.2em 0.2em 0;
  z-index: -1;
}
.card-withdraw-target.scanning {
  animation-duration: 0.35s;
  animation-name: withdrawing;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes withdrawing {
  from {
    box-shadow: 0 0 2px #EB3941;
  }

  to {
    box-shadow: 0 0 24px #EB3941;
  }
}

.shake {
  animation-duration: 0.35s;
  animation-name: shake;
}

@keyframes shake {
  from {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-2px, -1px);
  }

  35% {
    transform: translate(1px, 2px);
  }

  55% {
    transform: translate(3px, 1px);
  }

  75% {
    transform: translate(-1px, 2px);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes pulse {
  from {
    transform: scale(1.);
  }
  50% {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

@keyframes strong-pulse {
  from {
    transform: scale(1.);
  }
  50% {
    transform: scale(1.15);
  }
  to {
    transform: scale(1);
  }
}

.scan-reject .project-required-majority {
  animation-duration: 0.75s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

.opacityfade-enter-active,
.opacityfade-leave-active {
  transition: all 180ms cubic-bezier(.31,.57,.62,1.01);
}

.opacityfade-enter-from,
.opacityfade-leave-to {
  opacity: 0;
}
.tipfade-enter-active,
.tipfade-leave-active {
  transition: all 180ms cubic-bezier(.31,.57,.62,1.01);
  /* transform: translate(0px, 0px); */

}

.tipfade-enter-from,
.tipfade-leave-to {
  opacity: 0;
  transform: translate(0, -10px);
  /* transform: scale(1.2); */
}

.appear-popdown-enter-active,
.appear-popdown-leave-active {
  transition: all 180ms cubic-bezier(.31,.57,.62,1.01);
}

.appear-popdown-enter-from,
.appear-popdown-leave-to {
  transform: translate(0, -40px);
}

.menu-enter-active,
.menu-leave-active {
  transition: all 220ms ease-out;
}

.menu-enter-from,
.menu-leave-to {
  transform: translate(0, -100%);
}




.appear-bounceup-enter-active {
  animation: bounce-in 0.4s ease-out;
}
.appear-bounceup-leave-active {
  animation: bounce-in 0.4s ease-out reverse;
}

@keyframes bounce-in {
  0% {
    transform: translateY(60%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

#version-tag {
  position: fixed;
  right: 1em;
  bottom: 1em;
  background: #222;
  color: #fff;
  font-size: 0.6em;
  padding: 0.2em 0.3em;
  border-radius: 0.3em;
  border: 1px solid #fff;
  opacity: 0.8;
  z-index: 10000;
}
#version-tag a {
  color: #DEC92B;
}

@keyframes highlight {
  from {
    box-shadow: 0 0 4px red;
  }

  to {
    box-shadow: 0 0 16px red;
  }
}

#start-screen {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0,0,0,0.7);
  text-align: center;
  color: #fff;
  overflow-y: auto;
}
#start-bg {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: url(/public/assets/backgrounds/start.png);
  background-size: cover;
  background-position: center center;
  image-rendering: pixelated;
}
#start-screen img {
  display: block;
  margin: 0em auto 1em;
  width: 100%;
  max-width: 260px;
  max-height: 55vh;
}
#start-screen button {
  display: block;
  margin: 0.5em auto;
  width: 100%;
  max-width: 280px;
  background: none;
  border: none;
  border-top: 1px solid rgba(255,255,255,0.7);
  border-radius: 0;
  color: #fff;
  font-size: 1.2em;
  font-family: 'Times Ten';
  padding-top: 1em;
}

#start-screen-inset {

  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  top: 1rem;

  padding: 1em;
  /* margin: 1em; */
  border-radius: 2em;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  /* min-height: calc(100vh - 2em); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#start-inner{
  /* margin-bottom: 3em; */
}

.start-subtitle {
  font-size: 0.8em;
  margin: 0 0 1.5em 0;
}

.two-buttons {
  display: flex;
  max-width: 280px;
  margin: 0 auto;
}
.two-buttons hr {
  border: none;
  border-right: 1px solid rgba(255,255,255,0.7);;
  margin: 0 2px;
  margin-top: 12px;
}
.two-buttons button {
  margin-top: 0 !important;
}

#start-screen .credits {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #111;
  z-index: 10;
  overflow-y: auto;
}

.book-line {
  color: #fff;
  text-decoration: none;
  padding: 0.4rem 0.5rem;
  text-transform: none;
  font-size: 0.9rem;
  margin-top: 1rem;
  background: rgba(0,0,0,0.2);
  border-radius: 0.25em;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.1);
  transition: all 50ms ease-out;
  letter-spacing: 0.01em;
  display: flex;
  justify-content: center;
  width: 280px;
  margin:1rem auto 0;
}

.book-line span{
  border-bottom: 1px solid white;
}

.book-line:hover span{
  border-bottom: 1px solid #111;
}

.book-line:hover{
  background-color: rgba(0,0,0,0.9);
  box-shadow: 0px 0px 10px #B9F80D;
  background: #B9F80D;
  color:#111;
}



#start-inner .start-button:hover{
  color:rgba(255,255,255,0.7);
}

#lang-select {
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 2;
}
#lang-select select {
  background: #ecc1dc;
  color: #000;
  border: 1px solid #d4a5d8;
  padding: 0.2em;
  border-radius: 2px;
}

#lang-note {
  position: fixed;
  padding: 0.5em;
  top: 0.5em;
  width: 420px;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(0,0,0,0.8);
  z-index: 10;
}

@media only screen and (min-width: 481px) {
  #start-screen img{
    max-width:500px;
  }
  #start-screen button {
    max-width: 450px;
    font-size: 1.5em;
  }

  .two-buttons {
    max-width: 450px;
  }

  .book-line{
    bottom: 1rem;
    font-size: 1rem;
    padding: 0.75rem;
    width: 450px;
  }
}

.help-tip--outer {
  position: absolute;
  z-index: 10;
  width: fit-content;
  cursor: pointer;
  color: #000;
}
.help-tip--inner {
  background: #FFFCE2;
  border: 1px solid #000000;
  font-family: 'W95FA', monospace;
  font-size: 0.8em;
  padding: 0.5em 1em;
  box-shadow: 2px 2px 0 #000000;
  width: fit-content;
}
.help-tip--inner.center {
  transform: translate(-50%, -50%);
}
.help-tip img {
  top: 1px;
  position: relative;
}
