* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #18181A;
  color: #fff;
}

html {
  font-family: "Inter", system-ui, sans-serif;
  font-size: 14px;
}

img {
  max-width: 100%;
}

input {
  font-family: "Inter", system-ui, sans-serif;
  font-weight: 600;
  background: rgba(255,255,255,0.01);
  border: none;
  color: #fff;
  width: 100%;
  padding-left: 0;
}
input:focus {
  outline: none;
}

main {
  padding: 1em;
}

#tabs {
  display: flex;
  justify-content: center;
  margin: 0 0 2em 0;
}
.tab {
  cursor: pointer;
  padding: 0 0.5em;
  margin: 0 0.5em;
  color: #888;
}
.tab:hover {
  color: #fff;
  border-bottom: 1px solid #888;
}
.tab.selected {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.input-help {
  color: #888;
  font-size: 0.8em;
}
.input-group {
  margin: 1em 0;
  max-width: 150px;
}
.input-group label {
  display: block;
  font-size: 0.9em;
}
.input-error {
  color: #CF4955;
  font-size: 0.7em;
  margin: 0.5em 0 0.25em 0;
}

.map-group {
  border: 1px solid #555;
  border-radius: 3px;
  padding: 1em;
  margin: 2em 0;
}
.map-group label {
  border-bottom: 1px solid #555;
}
.map-group .map-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.25em;
}
.map-group h2 {
  margin: 0;
  font-size: 1.2em;
  border-bottom: 1px solid #555;
}

.world-inputs-global input {
  font-size: 2em;
}
.world-inputs-global {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.25em;
}

.pop-growth-inputs label {
  display: inline;
  margin-right: 0.5em;
  border-bottom: none;
}
.pop-growth-inputs input {
  width: auto;
}
.pop-growth-inputs .input-group {
  max-width: 250px;
}

.name input {
  font-size: 1.5em;
}
.name .input-group {
  width: 100%;
  max-width: none;
}

.multi-enum-group {
  max-width: none;
}
.multi-enum-opts {
  display: flex;
  flex-wrap: wrap;
}
.enum-opt {
  position: relative;
  cursor: pointer;
  background: #151515;
  border: 1px solid #333;
  border-radius: 3px;
  font-size: 0.8em;
  padding: 0.25em 0.5em;
  opacity: 0.5;
  margin: 2px;
}
.enum-opt:hover {
  opacity: 1;
}
.enum-opt.selected {
  opacity: 1;
  background: #009B68;
  color: #000;
  border-color: #08704E;
}
.tooltip {
  position: absolute;
  left: 0%;
  top: calc(100% + 2px);
  width: 175px;
  font-size: 11px;
  background: #151515;
  color: #fff;
  padding: 0.5em;
  border-radius: 3px;
  border: 1px solid #fff;
  z-index: 1;
}

.image-input {
  max-width: 280px;
}

.checkbox-group input {
  width: auto;
  margin-left: 0.5em;
}
